---
import Layout from "../layouts/Layout.astro";
import InfoPrincipal from "../components/InfoPrincipal.astro";
import RespiroVisual from "../components/RespiroVisual.astro";
import NuestrasCapsulas from "../components/NuestrasCapsulas.astro";
import SamplePack from "../components/SamplePack.astro";
import Tabs from "../components/Tabs";
---

<Layout title="Raíces">
  <main>
    <InfoPrincipal />
    <Tabs client:load />
    <RespiroVisual />
    <NuestrasCapsulas />
    <SamplePack />
    <!--<section>
      <div>
        <img src="zampoñaFuturista.webp" alt="zampoñaFuturista" />
      </div>
    </section>

    <section>
      <div>
        <h2>Conecta con nuestras raíces</h2>
        <p>Prueba y explora nuestro sample pack aquí!</p>
      </div>
    </section>-->
  </main>
</Layout>
