---
import Layout from "../layouts/Layout.astro";
import InfoPrincipal from "../components/InfoPrincipal.astro";
---

<Layout title="Raíces">
  <main>
    <InfoPrincipal />

    <!--<section>
      <div>
        <div>
          <h3>Diversidad Cultural</h3>
          <p>
            La música fusión peruana refleja la rica diversidad cultural del
            país, uniendo tradiciones ancestrales con sonidos contemporáneos.
            Combina influencias andinas, afroperuanas, amazónicas y criollas,
            destacándose por su innovación y popularidad tanto a nivel nacional
            como internacional.
          </p>
        </div>

        <div>
          <h3>Influencias Modernas</h3>
          <p>
            La fusión peruana mezcla sonidos tradicionales con géneros modernos
            como rock, jazz, hip-hop, electrónica y cumbia, incorporando
            instrumentos tradicionales como la quena o el charango junto con
            procesos y sonidos actuales, creando una combinación única que
            resuena con audiencias globales.
          </p>
        </div>

        <div>
          <h3>Innovación y Futuro</h3>
          <p>
            Más que una simple mezcla de géneros, la música fusión peruana es un
            testimonio de la capacidad del país para reinventarse. Celebrando su
            patrimonio cultural, ofrece una nueva perspectiva sobre cómo las
            tradiciones pueden evolucionar y mantenerse relevantes, asegurando
            que la música peruana continue sorprendiendo al mundo.
          </p>
        </div>
      </div>
    </section>

    <section>
      <div>
        <img src="zampoñaFuturista.webp" alt="zampoñaFuturista" />
      </div>
    </section>

    <section>
      <div>
        <h2>Conecta con nuestras raíces</h2>
        <p>Prueba y explora nuestro sample pack aquí!</p>
      </div>
    </section>-->
  </main>
</Layout>
