---
import Layout from "../layouts/Layout.astro";
import InfoPrincipal from "../components/InfoPrincipal.astro";
import RespiroVisual from "../components/RespiroVisual.astro";
import NuestrasCapsulas from "../components/NuestrasCapsulas.astro";
// import SamplePack from "../components/SamplePack.astro";
import SamplePack from "../components/SamplePack";
import Contacto from "../components/Contacto";
import Artistas from "../components/Artistas.astro";
import Tabs from "../components/Tabs";
import Prueba from "../components/Prueba";
---

<Layout title="Raíces">
  <main>
    <div
      style="background-image: url('/video/raices.gif')"
      class="h-screen grid place-items-center bg-center brightness-90 bg-no-repeat bg-cover"
    >
      <img width="100" src="logo.webp" alt="" />
    </div>

    <!-- <Prueba client:load /> -->

    <InfoPrincipal />
    <Tabs client:load />
    <RespiroVisual />
    <NuestrasCapsulas />
    <SamplePack client:load />
    <Artistas />
  </main>

  <Contacto />
</Layout>
