---
import NuestrasCapsulas from "../components/NuestrasCapsulas";
import InfoPrincipal from "../components/InfoPrincipal.astro";
import RespiroVisual from "../components/RespiroVisual";
import HomeSection from "../components/HomeSection.astro";
import Artists from "../components/Artists";
import Layout from "../layouts/Layout.astro";

import SamplePack from "../components/SamplePack";
import Contacto from "../components/Contacto";
import Tabs from "../components/Tabs";
---

<Layout title="Raíces">
  <img class="absolute -top-12 left-28 w-[91%]" src="/images/raiz.png" alt="" />
  <main>
    <HomeSection />
    <InfoPrincipal />
    <Tabs client:load />
    <RespiroVisual client:load />
    <NuestrasCapsulas client:load />
    <SamplePack client:load />
    <Artists client:load />
  </main>

  <Contacto />
</Layout>
