---
import NuestrasCapsulas from "../components/NuestrasCapsulas";
import InfoPrincipal from "../components/InfoPrincipal.astro";
import RespiroVisual from "../components/RespiroVisual.astro";
import HomeSection from "../components/HomeSection.astro";
import Artists from "../components/Artists.astro";
import Layout from "../layouts/Layout.astro";

import SamplePack from "../components/SamplePack";
import Contacto from "../components/Contacto";
import Tabs from "../components/Tabs";
import Prueba from "../components/Prueba";
---

<Layout title="Raíces">
  <main>
    <HomeSection />
    <!-- <Prueba client:load /> -->
    <InfoPrincipal />
    <Tabs client:load />
    <RespiroVisual />
    <NuestrasCapsulas client:load />
    <SamplePack client:load />
    <Artists />
  </main>

  <Contacto />
</Layout>
