---
const { artist } = Astro.props;
---

<div class="bg-[#DEC499] flex justify-center items-end rounded-3xl h-32">
  <img
    class="w-40"
    src={`/images/artists/sliders/${artist}`}
    alt={`${artist}`}
  />
</div>
