---
import Artist from "./Artist.astro";
---

<section class="bg-[#FFFAF3]">
  <div
    class="flex flex-wrap justify-center items-center gap-8 py-20 [&>div>div]:h-32"
  >
    <div class="flex items-center gap-8 w-full [&>div]:basis-1/5">
      <Artist artist="kayfex.png" />

      <h2 class="basis-3/5 self-stretch flex items-center justify-center">
        <span class="text-9xl font-bold">Descubre</span>
      </h2>

      <Artist artist="kayfex.png" />
      <Artist artist="kayfex.png" />
    </div>

    <div class="flex items-center gap-8 w-full [&>div]:basis-1/5">
      <Artist artist="kayfex.png" />
      <Artist artist="kayfex.png" />
      <Artist artist="kayfex.png" />

      <h2 class="basis-1/5 self-stretch flex items-center justify-center">
        <span class="text-9xl font-bold">a</span>
      </h2>

      <Artist artist="kayfex.png" />
    </div>

    <div class="flex items-center gap-8 w-full [&>div]:basis-1/5">
      <Artist artist="kayfex.png" />

      <h2 class="basis-1/5 self-stretch flex items-center justify-center">
        <span class="text-9xl font-bold">más</span>
      </h2>

      <Artist artist="kayfex.png" />
      <Artist artist="kayfex.png" />
      <Artist artist="kayfex.png" />
    </div>

    <div class="flex items-center gap-8 w-full [&>div]:basis-1/5">
      <Artist artist="kayfex.png" />
      <Artist artist="kayfex.png" />

      <h2 class="basis-2/5 self-stretch flex items-center justify-center">
        <span class="text-9xl font-bold">artistas...</span>
      </h2>

      <Artist artist="kayfex.png" />
    </div>
  </div>
</section>
