<div
  style="background-image: url('/video/raices.gif')"
  class="h-screen grid place-items-center bg-center brightness-90 bg-no-repeat bg-cover"
>
  <img width="100" src="logo.webp" alt="" />
</div>
