<section class="bg-[#FFFAF3] [&>div]:text-[#45260B] flex [&>div]:basis-1/2">
  <div class="">
    <img src="raicesFusion.webp" alt="raicesFusion" />
  </div>

  <div class="py-40 pl-40 pr-64 text-end flex justify-center items-center">
    <div class="space-y-4">
      <h2 class="font-extrabold text-8xl">¿Qué es Raíces?</h2>
      <p class="text-xl">
        Raíces es un proyecto transmedia que busca <span class="font-bold"
          >exponer, incentivar y preservar</span
        > la riqueza de los sonidos peruanos, navegando por sus orígenes mediante
        su exploración en la música fusión.
      </p>

      <p class="text-xl">
        Este proyecto no solo busca mostrar la diversidad musical del país, sino
        también integrar de manera innovadora en la escena musical
        contemporánea.
      </p>
    </div>
  </div>
</section>
