<section class="bg-[#FFFAF3] text-[#45260B] [&>div]:basis-1/2 flex">
  <div class="">
    <div>
      <img src="raicesFusion.webp" alt="raicesFusion" />
    </div>
  </div>

  <div class="p-40 text-end flex justify-center items-center">
    <div class="space-y-4">
      <h2 class="font-extrabold text-6xl">¿Qué es Raíces?</h2>
      <p class="text-lg">
        Raíces es un proyecto transmedia que busca exponer, incentivar y
        preservar la riqueza de los sonidos peruanos, navegando por sus orígenes
        mediante su exploración en la música fusión. Este proyecto no solo busca
        mostrar la diversidad musical del país, sino también integrar de manera
        innovadora en la escena musical contemporánea.
      </p>
    </div>
  </div>
</section>
