<section
  class="bg-[#45260B] h-screen flex flex-col justify-center items-center relative font-bold text-[#FFFAF3] [&>p]:text-[#FFFAF3]/20 text-6xl [&>p]:absolute [&>p]:text-7xl [&>p]:font-extrabold"
>
  <div class="w-[35%]">
    <img src="zampoñaFuturista.webp" alt="Zampoña Futurista" />
  </div>

  <div>
    <h3 class="text-center">
      Pasado que <br />
      <span class="text-7xl">inspira</span>
    </h3>
  </div>

  <p class="top-56 right-32">Herencia</p>
  <p class="top-72 left-32">Innovación</p>
  <p class="right-0 bottom-48">Tradicionales</p>
  <p class="left-0 bottom-24">Estilos modernos</p>
</section>
