<section
  class="bg-[#45260B] h-screen flex flex-col justify-center items-center relative"
>
  <div class="w-[35%]">
    <img src="zampoñaFuturista.webp" alt="Zampoña Futurista" />
  </div>

  <div>
    <h3 class="text-[#FFFAF3] text-center text-6xl font-bold">
      Pasado que <br />
      <span class="text-7xl">inspira</span>
    </h3>
  </div>

  <p class="text-[#FFFAF3] text-6xl font-extrabold absolute top-72 left-32">Innovación</p>
  <p class="text-[#FFFAF3] text-6xl font-extrabold">Hola</p>
  <p class="text-[#FFFAF3] text-6xl font-extrabold">Hola</p>
  <p class="text-[#FFFAF3] text-6xl font-extrabold">Hola</p>
</section>
