.swiper {
  width: 500px;
}

.swiper-slide {
  border-radius: 24px;
}

.swiper-slide-next {
  transform: translate3d(calc(7.25% - 700px), 0px, -150px) scale(1) !important;
}

.swiper-slide-prev {
  transform: translate3d(calc(-7.25% - 300px), 0px, -150px) scale(1) !important;
}
