---
interface Props {
  title: string;
}

const { title } = Astro.props;
import "@fontsource-variable/league-spartan";
import "animate.css";
import "swiper/css";
import "swiper/css/effect-cards";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/images/logo.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative overflow-x-hidden">
    <slot />
  </body>
</html>

<style is:global>
  body {
    font-family: "League Spartan Variable", sans-serif;
  }

  .photoZamponia:hover {
    animation: pulse 1.5s infinite;
    cursor: pointer;
  }

  .float__words {
    animation: float3 20s infinite linear;
    transition-duration: 300ms;
  }

  .float__words__inverse {
    animation: float4 20s infinite linear;
    transition-duration: 300ms;
  }

  .float__words__1 {
    animation: float1 20s infinite linear;
    transition-duration: 300ms;
  }

  .float__words__inverse__1 {
    animation: float2 20s infinite linear;
    transition-duration: 300ms;
  }

  .float__words:hover {
    scale: 1.2;
    cursor: pointer;
    color: #fffaf3;
    transition-timing-function: ease-in-out;
  }

  .float__words__inverse:hover {
    scale: 1.2;
    cursor: pointer;
    color: #fffaf3;
    transition-timing-function: linear;
  }

  @keyframes float1 {
    0% {
      transform: translate(0, 0);
    }
    20% {
      transform: translate(300px, 200px);
    }
    40% {
      transform: translate(-350px, -300px);
    }
    60% {
      transform: translate(400px, 350px);
    }
    80% {
      transform: translate(-450px, -400px);
    }
    100% {
      transform: translate(500px, 450px);
    }
  }

  @keyframes float2 {
    0% {
      transform: translate(0, 0);
    }
    20% {
      transform: translate(-300px, 250px);
    }
    40% {
      transform: translate(350px, -300px);
    }
    60% {
      transform: translate(-400px, 350px);
    }
    80% {
      transform: translate(450px, -400px);
    }
    100% {
      transform: translate(-500px, 450px);
    }
  }

  @keyframes float3 {
    0% {
      transform: translate(0, 0);
    }
    20% {
      transform: translate(350px, -250px);
    }
    40% {
      transform: translate(-400px, 300px);
    }
    60% {
      transform: translate(450px, -350px);
    }
    80% {
      transform: translate(-500px, 400px);
    }
    100% {
      transform: translate(550px, -450px);
    }
  }

  @keyframes float4 {
    0% {
      transform: translate(0, 0);
    }
    20% {
      transform: translate(-350px, 200px);
    }
    40% {
      transform: translate(400px, -250px);
    }
    60% {
      transform: translate(-450px, 300px);
    }
    80% {
      transform: translate(500px, -350px);
    }
    100% {
      transform: translate(-550px, 400px);
    }
  }

  .swiper {
    width: 500px;
    z-index: 20;
  }

  .swiper-slide {
    border-radius: 24px;
    position: relative;
  }

  .swiper-slide-next {
    transform: translate3d(calc(7.25% - 700px), 0px, -150px) scale(1) !important;
  }

  .swiper-slide-next:hover {
    transform: translate3d(calc(7.25% - 700px), 0px, -150px) scale(1.1) !important;
    transition: transform 0.5s ease-in-out !important;
    z-index: 100 !important;
  }

  .swiper-slide-prev {
    transform: translate3d(calc(-7.25% - 300px), 0px, -150px) scale(1) !important;
  }

  .swiper-slide-prev:hover {
    transform: translate3d(calc(-7.25% - 300px), 0px, -150px) scale(1.1) !important;
    transition: transform 0.5s ease-in-out !important;
    z-index: 100 !important; /* Z-index aumentado cuando se pasa el mouse */
  }

  .no-scroll {
    overflow: hidden;
  }
</style>
