---
interface Props {
  title: string;
}

const { title } = Astro.props;
import "@fontsource-variable/league-spartan";
import "animate.css";
import "swiper/css";
import "swiper/css/effect-cards";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/images/logo.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative overflow-x-hidden">
    <slot />
  </body>
</html>

<style is:global>
  body {
    font-family: "League Spartan Variable", sans-serif;
  }

  .photoZamponia:hover {
    animation: pulse 1.5s infinite;
    cursor: pointer;
  }

  .float__words {
    animation: float 12.5s infinite linear;
    transition-duration: 300ms;
  }

  .float__words__inverse {
    animation: floatInverse 12.5s infinite linear;
    transition-duration: 300ms;
  }

  .float__words:hover {
    scale: 1.2;
    cursor: pointer;
    color: #fffaf3;
    transition-timing-function: ease-in-out;
  }

  .float__words__inverse:hover {
    scale: 1.2;
    cursor: pointer;
    color: #fffaf3;
    transition-timing-function: linear;
  }

  @keyframes float {
    0% {
      transform: translate(0, 0);
    }
    10% {
      transform: translate(200px, -100px);
    }
    20% {
      transform: translate(400px, 200px);
    }
    30% {
      transform: translate(600px, -300px);
    }
    40% {
      transform: translate(800px, 300px);
    }
    50% {
      transform: translate(1000px, -200px);
    }
    60% {
      transform: translate(1200px, 200px);
    }
    70% {
      transform: translate(1400px, -300px);
    }
    80% {
      transform: translate(1600px, 300px);
    }
    90% {
      transform: translate(1800px, -200px);
    }
    100% {
      transform: translate(2000px, 200px);
    }
  }

  @keyframes floatInverse {
    0% {
      transform: translate(0, 0);
    }
    10% {
      transform: translate(200px, 100px);
    }
    20% {
      transform: translate(400px, -200px);
    }
    30% {
      transform: translate(600px, 200px);
    }
    40% {
      transform: translate(500px, -300px);
    }
    50% {
      transform: translate(1000px, 200px);
    }
    60% {
      transform: translate(-200px, -200px);
    }
    70% {
      transform: translate(400px, 300px);
    }
    80% {
      transform: translate(600px, -300px);
    }
    90% {
      transform: translate(800px, 200px);
    }
    100% {
      transform: translate(200px, -200px);
    }
  }

  .swiper {
    width: 500px;
    z-index: 20;
  }

  .swiper-slide {
    border-radius: 24px;
    position: relative;
  }

  .swiper-slide-next {
    transform: translate3d(calc(7.25% - 700px), 0px, -150px) scale(1) !important;
  }

  .swiper-slide-next:hover {
    transform: translate3d(calc(7.25% - 700px), 0px, -150px) scale(1.1) !important;
    transition: transform 0.5s ease-in-out !important;
    z-index: 100 !important;
  }

  .swiper-slide-prev {
    transform: translate3d(calc(-7.25% - 300px), 0px, -150px) scale(1) !important;
  }

  .swiper-slide-prev:hover {
    transform: translate3d(calc(-7.25% - 300px), 0px, -150px) scale(1.1) !important;
    transition: transform 0.5s ease-in-out !important;
    z-index: 100 !important; /* Z-index aumentado cuando se pasa el mouse */
  }

  .no-scroll {
    overflow: hidden;
  }
</style>
